footer, .plant, .center {
    text-align: center;
}

footer {
    margin-top: 5%;
}

.icon {
    height: 30px;
}

.activeIcon {
    height: 50px;
}

.plant {
    font-size: 30px;
    height: 60px;
    width: 80px;
    margin: 5px 8px 0px;
}

.plot {
    border: 10px solid brown;
}

.plantContainer {
    padding: 10px;
    margin: 10px;
}

.floatRight {
    float: right;
    margin-right: 20%;
    margin-top: -10%;
}

.bankAccount {
    border: 3px solid black;
    padding: 15px 5px 0px;
    display: inline-flex;
    margin-top: -4%
}

.myMoney {
    margin-top: 10%;
}

.plantBox {
    max-width: 310px;
}

.getin {
    margin-top: 0%;
}

.buyPlot {
    font-size: 50px;
    margin: 15% 25%;
}

.blurb {
    margin: 30px;
}

.donate {
    margin-left: 40px;
}

.farmButton {
    margin-left: 39%;
    font-size: 40px;
}

.test {
    font: 1000;
}

@media screen and (max-width: 750px) {
    .plantBox {
        max-width: 215px;
    }
}